// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~bootstrap-select/sass/bootstrap-select";

.btn-default {
    color: #717171;
    background-color: #fafafa;
    border-color: #dadada;
    border-bottom-color: #ccc
}
